// Hero
.hero {
	background-color: $primaryColor;
	padding-top: 2rem;
	height: 550px;

	.wrapper {
		@include respond(1000px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	.image {
		margin-top: 1rem;
		width: 39%;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.05);
		}

		img {
			box-shadow: 16px 16px white;
		}

		@include respond(1000px) {
			width: 60%;
			margin: 0 auto;
		}

		@include respond(650px) {
			width: 70%;
		}

		@include respond(425px) {
			width: 80%;
		}
	}

	.content {
		margin-left: 5rem;
		padding-top: 9rem;
		position: relative;

		h1 {
			@include respond(650px) {
				font-size: 6rem;
			}

			@include respond(425px) {
				font-size: 4.5rem;
			}
		}

		@include respond(1000px) {
			margin: 0 auto -4rem auto;
			padding-top: 4rem;
			text-align: center;
			width: fit-content;
		}

		@include respond(650px) {
			margin: 0 auto -3.2rem auto;
		}

		@include respond(425px) {
			margin-bottom: -2.5rem;
		}
	}

	@include respond(1000px) {
		height: auto;
	}
}

.circleImg {
	width: 33%;
	height: auto;
	position: absolute;
	right: -45px;
	top: 130px;

	@include respond(1000px) {
		width: 28%;
		right: -38px;
		top: 58px;
	}

	@include respond(650px) {
		right: -25px;
		top: 62px;
	}

	@include respond(425px) {
		right: -20px;
		top: 60px;
	}
}

.overview {
	background-color: $whiteColor;
	padding: 5.5rem 0;

	.wrapper {
		justify-content: flex-end;
	}

	.content {
		width: 60%;
		padding-left: 3rem;

		@include respond(1000px) {
			width: auto;
			text-align: center;
			padding-left: 0;
		}
	}

	@include respond(1000px) {
		padding: 8rem 0;
	}
}

// Image Banner
.imageBanner {
	background-image: url('../images/home-image-2.jpg');
	background-size: cover;
	background-position: center;
	height: 65vh;
}

// Feature Grid
.featureGrid {
	padding: 5rem 0;
	background-color: $whiteColor;

	.wrapper {
		flex-wrap: wrap;

		@include respond(650px) {
			flex-direction: column;
		}
	}
}

.feature {
	flex-basis: 50%;
	margin-bottom: 3rem;
	display: flex;

	i {
		background: $primaryColor;
		padding: 0.8rem;
		border-radius: 50%;
		font-size: 1rem;
	}

	.content {
		margin: 0 1rem;
	}
}

// Spotlights
.spotlights {
	padding: 5rem 0;

	.wrapper {
		flex-wrap: wrap;
	}
}

.spotlight {
	display: flex;
	flex: 0 0 100%;

	&:first-child {
		margin-bottom: 5rem;

		@include respond(1000px) {
			margin-bottom: 0;
		}
	}

	.image {
		position: relative;
		flex: 0 0 50%;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.05);
		}

		&:after {
			content: ' ';
			position: absolute;
			width: 200%;
			bottom: -16px;
			height: 100%;
			z-index: 1;
		}

		img {
			position: relative;
			z-index: 2;
		}

		@include respond(1000px) {
			width: 80%;
			margin: 0 auto;
			flex: 0;
		}

		@include respond(425px) {
			width: 100%;
		}
	}

	.content {
		@include respond(1000px) {
			padding-top: 4.5rem;
		}
	}

	@include respond(1000px) {
		flex-direction: column;
	}
}

.spotlightRight {
	margin-top: -7rem;
	align-items: flex-end;
	.image {
		&:after {
			right: -16px;
			background-color: $tertiaryColor;
		}
	}

	.content {
		margin-left: 6.5rem;

		@include respond(1000px) {
			margin: 0;
			text-align: left;
		}
	}
}

.spotlightLeft {
	flex-direction: row-reverse;
	margin-bottom: -6.5rem;

	.image {
		&:after {
			left: 16px;
			background-color: $secondaryColor;
		}
	}

	.content {
		margin-right: 6.5rem;

		a {
			float: right;

			@include respond(1000px) {
				float: none;
			}
		}

		@include respond(1000px) {
			margin: 0;
			padding-bottom: 4.5rem;
			text-align: right;
		}
	}

	@include respond(1000px) {
		flex-direction: column-reverse;
	}
}

// Journey
.journey {
	padding: 5rem 0;
	background-color: $whiteColor;

	.wrapper {
		padding-top: 3.5rem;

		@include respond(768px) {
			flex-direction: column-reverse;
		}
	}

	.image {
		flex: 0 0 25%;

		img {
			box-shadow: 14px 14px $tertiaryColor;

			@include respond(768px) {
				width: 60%;
				margin: 0 auto;
			}

			@include respond(425px) {
				width: 80%;
			}
		}
	}

	.content {
		margin-left: 6.5rem;

		@include respond(768px) {
			margin-bottom: 4rem;
			margin-left: 0;
			text-align: center;
		}
	}
}

// Gallery
.gallery {
	padding: 5rem 0;

	.wrapper {
		justify-content: space-between;

		@include respond(650px) {
			flex-direction: column;
		}
	}
}

.galleryItem {
	width: 31.3%;
	transition: transform 0.2s;

	&:hover {
		transform: scale(1.05);
	}

	@include respond(650px) {
		width: 80%;
		margin: 0 auto;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	@include respond(425px) {
		width: 100%;
	}
}
