.twoColumn {
	background-color: $whiteColor;

	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	main {
		.wrapper {
			display: block;
		}
	}
}

.secondaryHero {
	height: 50vh;
	background-size: cover;

	@include respond(425px) {
		height: 30vh;
	}
}

.pageHeader {
	margin-top: -3.5rem;
}

.pageContent {
	padding: 3rem 0;
	display: flex;

	@include respond(768px) {
		flex-direction: column-reverse;
	}
}

.author {
	@include respond(768px) {
		display: none;
	}
}

.mainContent {
	margin-left: 2rem;

	@include respond(768px) {
		margin-left: 0;
		margin-bottom: 2rem;
	}
}

.mainItem {
	background-color: #fff;
	padding: 2rem;
	margin-bottom: 2rem;

	&:first-child {
		border-bottom: 5px solid $tertiaryColor;
	}
}

.asideContent {
	flex: 0 0 30%;
}

.asideItem {
	background-color: #fff;
	padding: 2rem;

	img {
		margin-bottom: 1.2rem;
	}

	ul {
		margin-top: 0.8rem;
		padding-left: 1rem;

		a {
			font-family: $secondaryFont;
			font-size: 1rem;
			line-height: 1.7rem;
			margin-top: 0.8rem;
			padding-left: 0.5rem;
			text-transform: none;

			&:link,
			&:visited,
			&:focus {
				color: $textColor;
			}
		}
	}

	&:not(:last-of-type) {
		margin-bottom: 1rem;
	}
}
