.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	input,
	textarea {
		margin-bottom: 1rem;
		border: none;
		padding: 1.5rem 2rem;
		font-size: 1rem;
		transition: all 0.2s;

		&:focus {
			border-bottom: 3px solid $tertiaryColor;
		}
	}

	#name,
	#email {
		flex: 0 0 49%;

		@include respond(550px) {
			flex: auto;
			width: 100%;
		}
	}

	#message,
	#submit {
		flex: 0 0 100%;
	}

	#submit {
		margin: 0;
		border: none;
		text-transform: uppercase;
	}
}
