.navBar {
	background-color: $primaryColor;
	padding: 0.5rem 0;

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(650px) {
			flex-direction: column;
		}
	}

	.navItem {
		@include respond(650px) {
			display: none;
		}
	}

	.logo {
		font-size: 1.9rem;
		@include respond(650px) {
			order: -1;
		}
	}

	.burgerMenu {
		display: none;
		color: $textColor;

		a {
			font-size: 1.5rem;
		}

		@include respond(650px) {
			display: block;
			position: absolute;
			right: 0;
			margin-top: -0.1rem;
		}
	}

	.mobileNavItem {
		display: block;
	}

	a {
		font-family: $primaryFont;
		font-size: 0.95rem;
		letter-spacing: 0.1rem;
		text-decoration: none;
		text-transform: uppercase;
		margin: 0 1.5rem;
		transition: all 0.3s;

		&:link,
		&:visited,
		&:focus {
			color: $textColor;
		}

		&:hover {
			color: $whiteColor;
		}
	}
}
