// COLOR VARIABLES
$textColor: #171717;
$primaryColor: #b9dde7;
$secondaryColor: #68b0c1;
$tertiaryColor: #227284;
$accentColor: #f38d8d;
$whiteColor: #f6f6f6;

// FONT VARIABLES
$primaryFont: 'Oswald', sans-serif;
$secondaryFont: 'Cabin', sans-serif;